<div class="takui-c-section-banner" style="background-image: {{bgImagePath}};">
    
    {{#sectionBannerLink}}
    <a class="takui-c-banner-link" href="{{href}}" id="{{id}}" target="{{target}}"></a>
    {{/sectionBannerLink}}
    <div class="takui-c-site-width">
        <article class="takui-c-section-content">
            <div class="takui-c-section-text">
                <h3 class="takui-c-section-title">{{contentTitle}}</h3>
                <p>{{contentSubTitle}}</p>
            </div>
            <div class="takui-c-section-button">
                {{>atoms-anchor-button-outline-icon button}}
            </div>
        </article>
    </div>
</div>