<ul class="takui-ul-horizontal">
    {{#items}}
    <li class="takui-li-item {{isActive}}">
        <a href="{{href}}" target="{{actionTarget}}" {{#if modalLink }} data-open="{{ modalID }}" {{/if}}>{{{label}}}</a></li>
    {{/items}}
</ul>
