{{#if h1}}

<h1>
    {{{h1}}}
</h1>

{{else if h2}}

<h2>
    {{{h2}}}
</h2>

{{else if h3}}

<h3>
    {{{h3}}}
</h3>

{{else if h4}}

<h4>
    {{{h4}}}
</h4>

{{else if h5}}

<h5>
    {{{h5}}}
</h5>

{{else if h6}}

<h6>
    {{{h6}}}
</h6>

{{else if p}}

<p>
    {{{p}}}
</p>

{{else if a}}

<p>
    <a href="#">{{{a}}}</a>
</p>

{{else if hr}}

<hr />

{{else if img}}

<p>
    <img src="{{{img}}}" />
</p>

{{/if}}