<div class="row takui-button-group">
    {{#buttons}}

    {{#if anchor-button-with-icon}}

    {{>atoms-anchor-button-with-icon anchor-button-with-icon}}

    {{else if anchor-button-secondary-with-icon}}

    {{>atoms-anchor-button-secondary-with-icon anchor-button-secondary-with-icon}}

    {{else if anchor-button}}

    {{>atoms-anchor-button anchor-button}}

    {{else if button-secondary}}

    {{>atoms-button-secondary button-secondary}}

    {{else if anchor-button-gray}}

    {{>atoms-anchor-button-gray anchor-button-gray}}

    {{else if white-button}}

    {{>atoms-white-button white-button}}

    {{/if}}

    {{/buttons}}
</div>