<div class="Form__Element FormChoice FormChoice form__input__wrapper {{displayOption}}  ValidationRequired">
    <div>
        <input type="checkbox" name="{{id}}" id="{{id}}" value="agree"
            class="FormChoice__Input FormChoice__Input--Checkbox state form__checkbox" data-f-datainput="">
        <label for="{{id}}" class="form__label__inner">{{ label }}</label>
    </div>
</div>