<div class="grid-1-4">
  <a href="{{url}}" class="takui-he-search-card--anchor">
    <div class="takui-he-search-card" {{#if bgImagePath}}style="background-image: {{bgImagePath}};" {{/if}}>
      <div class="takui-he-search-card--overlay">
        <div class="takui-he-search-card--type">
          <span class="takui-he-search-card--type--text">{{cardType}}</span>
          {{#cardIcon}}
          {{>atoms-icon}}
          {{/cardIcon}}
        </div>
        <div class="takui-he-search-card--wrapper">
          <div class="takui-he-search-card--content">
            <div class="takui-he-search-card--title">
              {{cardTitle}}
            </div>
            <div class="takui-he-search-card--description">
              {{{cardDescription}}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>