<div class="takui-c-mobile-menu">
    <ul class="takui-c-mobile-menu-list">
        <li class="takui-c-mobile-menu-item">
            <div class="takui-c-mobile-menu-logo"><a href="{{logoLink}}">Oncology</a>
            </div>
        </li>
        {{#each menuItem}}
        <li class="takui-c-mobile-menu-item">
            <div class="takui-c-mobile-menu-subject"><a href="{{link}}">{{subject}}</a>{{#if
                listItem}}<span>{{>atoms-icon}}</span>{{/if}}</div>
            {{#if
            listItem}}
            <div class="takui-c-mobile-sub-menu">
                <div class="takui-c-mobile-sub-menu-row back">
                    <div class="takui-c-back-button">{{>atoms-icon}}<span>Back to Menu</span></div>
                </div>
                <div class="takui-c-mobile-sub-menu-row">
                    <h6>{{subject}}</h6>
                </div>
                <ul class="takui-c-mobile-sub-menu-list">
                    {{#listItem}}
                    <li>
                        <a href="{{link}}">{{name}}</a>
                    </li>
                    {{/listItem}}
                </ul>
            </div>
            {{/if}}
        </li>
        {{/each}}
    </ul>
    <div class="takui-c-mobile-links">
        {{>molecules-anchor-list items=quicklinks}}
    </div>
</div>