<table class="takui-event-personal">
    <caption>{{ lblCaption }}</caption>
    <tr>
        <th>{{ lblName }}</th>
        <td>{{ valName }}</td>
    </tr>
    <tr>
        <th>{{ lblEmail }}</th>
        <td>{{ valEmail }}</td>
    </tr>
</table>