<nav class="{{classModifier}}">
  {{#parent}}
  <a href="{{href}}" class="item" target="{{actionTarget}}" {{#if modalLink }} data-open="{{ modalID }}" {{/if}}>{{data}}</a>
  {{/parent}}
  <span class="active">{{data}}</span>
</nav>