<div class="takui-form-group-checkbox {{gridClassModifier}}">
    <input type="checkbox" name="checkbox" class="takui-checkbox {{ checkboxStyleModifier }}" id="{{ checkboxId }}" value="{{ checkboxVal }}" {{#if disabled}}disabled{{/if}}>

    <label class="takui-checkbox-label" for="{{ checkboxId }}">
        <span class="takui-checkbox-label-content">{{{ checkboxLabelContent }}}</span>
    </label>
</div>