<div class="takui-form-group-input">
    <input type="radio" name="{{ inputName }}" class="takui-radio {{ radioStyleModifier }}" id="{{ radioId }}" {{#if isChecked}}checked{{/if}}  {{#if disabled}}disabled{{/if}}>
    <label class="takui-radio-label" for="{{ radioId }}">
        <span class="takui-radio-label-content">{{ radioLabelContent }}</span>
    </label>
</div>