{{> default}}
{{!-- {{#>template-li-resources-col-template}} --}}
<div class="li-sliderctn-wrapper">
    <div class="li-sliderctn">
        <div class="li-sliderctn-inner">
            <h2>{{ pageTitle }}</h2>
            {{> organism-li-slider slider }}
        </div>
    </div>
    <div class="li-sliderctn">
        <div class="li-sliderctn-inner">
            <h2>{{ pageTitle }}</h2>
            {{> organism-li-slider slider }}
        </div>
    </div>
    <div class="li-sliderctn">
        <div class="li-sliderctn-inner">
            <h2>{{ pageTitle }}</h2>
            {{> organism-li-slider slider }} 
        </div>
    </div>
    <div class="li-sliderctn">
        <div class="li-sliderctn-inner">
            <h2>{{ pageTitle }}</h2>
            {{> organism-li-slider slider }} 
        </div>
    </div>
    <div class="li-sliderctn">
        <div class="li-sliderctn-inner">
            <h2>{{ pageTitle }}</h2>
            {{> organism-li-slider slider }}
        </div>
    </div>
    <div class="li-sliderctn">
        <div class="li-sliderctn-inner">
            <h2>{{ pageTitle }}</h2>
            {{> organism-li-slider slider }}
        </div>
    </div>
</div>
<button class="takui-nav-btn">
    {{>atoms-icon iconPath="../../icons/ico_svg/icons.svg#takui-ico-li-flt-btn"}}
    <span class="takui-nav-btn-counter"></span>
</button>
{{!-- {{/template-li-resources-col-template}} --}}